@model ExcluirProdutoViewModel

@{
    ViewBag.Titulo = "Exclusão de Produto";
}

<form action="/Produto/ExcluirConfirmado/@Model.Id" method="post">
    <p class="fw-bold">Deseja realmente excluir o produto @Model.Nome?</p>
    <a class="btn btn-secondary" asp-action="Index">Voltar</a>
    <button class="btn btn-danger" type="submit">Excluir</button>
</form>