@{
    ViewBag.Titulo = "Página Inicial";
}

<html>
<body>
    <div class="row g-3 justify-content-center align-items-center">
        <div class="col order-1 order-lg-0">
            <h2 class="text-primary fs-4 fw-bold">
                Boas-vindas!
            </h2>

            <p class="fs-4 mt-3">
                Nossa aplicação oferece a melhor experiência de gerência digital de estabelecimentos da área de serviços.
            </p>

            <p class="fs-4 mt-3">
                Você tem a possibilidade de gerenciar os dados e status de mesas, garçons, produtos e contas, além de controlar os pedidos e fechamento de contas...
            </p>
        </div>

        <div class="col-lg-5 col-md-10 order-0 order-lg-1">
            <img src="~/images/undraw_beer.svg" class="img-fluid" />
        </div>
    </div>
</body>
</html>