@model EditarGarcomViewModel

@{
    ViewBag.Titulo = "Edição de Garçom";
}

<html>
<body>
    <main>
        <form class="col-4 needs-validation" asp-action="Editar" method="post" novalidate>
            <div class="mb-3">
                <label class="form-label" asp-for="Nome">Nome:</label>
                <input class="form-control" asp-for="Nome" name="Nome" id="Nome" type="text" value="@Model.Nome" required>
                <span asp-validation-for="Nome" class="text-danger"></span>
                <div class="invalid-feedback">
                    Informe o nome do garçom!
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" asp-for="CPF">CPF:</label>
                <input class="form-control" asp-for="CPF" name="CPF" id="CPF" type="text" value="@Model.CPF" required>
                <span asp-validation-for="CPF" class="text-danger"></span>
                <div class="invalid-feedback">
                    Informe o CPF do garçom!
                </div>
            </div>

            <div class="d-flex justify-content-end">
                <a class="btn btn-secondary px-4 me-1" asp-action="Index">Voltar</a>
                <button class="btn btn-success px-4" type="submit">Salvar</button>
            </div>
        </form>
    </main>

    @* Script de validação com Bootstrap *@
    <script>
        (() => {
            'use strict'

            const forms = document.querySelectorAll('.needs-validation')

            Array.from(forms).forEach(form => {
                form.addEventListener('submit', event => {
                    if (!form.checkValidity()){
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
        })()
    </script>
</body>
</html>