@model ExcluirGarcomViewModel

@{
    ViewBag.Titulo = "Exclusão de Garçom";
}

<html>
<body>
    <main class="col-4">
        <form action="/Garcom/ExcluirConfirmado/@Model.Id" method="post">
            <p class="fw-bold">Deseja realmente excluir o garçom @Model.Nome?</p>
            <a class="btn btn-secondary" asp-action="Index">Voltar</a>
            <button class="btn btn-danger" type="submit">Excluir</button>
        </form>
    </main>
</body>
</html>