@model VisualizarGarconsViewModel

@{
    ViewBag.Titulo = "Garçons";
}

<html>
<body>
    <div>
        <button class="btn btn-primary mb-3" asp-action="Cadastrar">
            <i class="bi bi-plus"></i>
            Cadastrar
        </button>
    </div>

    <main>
        <div class="row g-2">
            @foreach (DetalhesGarcomViewModel g in Model.Registros)
            {
                <div class="col-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">@g.Nome</h5>
                            <p class="card-text mb-0"><strong>CPF: </strong>@g.CPF</p>

                            <div class="d-flex justify-content-end">
                                <a class="btn btn-primary rounded-circle me-2 d-flex justify-content-center align-items-center" style="height: 35px; width: 35px" href="/Garcom/Editar/@g.Id">
                                    <i class="bi bi-pencil"></i>
                                </a>
                                <a class="btn btn-danger rounded-circle d-flex justify-content-center align-items-center" style="height: 35px; width: 35px" href="/Garcom/Excluir/@g.Id">
                                    <i class="bi bi-trash"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </main>
</body>
</html>