@model CadastrarMesaViewModel

@{
    ViewBag.Titulo = "Cadastro de Mesa";
}

<html>
<body>
    <main>
        <form class="col-4 needs-validation" asp-action="Cadastrar" method="post" novalidate>
            <div class="mb-3">
                <label asp-for="Numero" class="form-label">Número:</label>
                <input name="Numero" id="Numero" type="number" class="form-control" placeholder="Digite o número da mesa..." required>
                <span asp-validation-for="Numero" class="text-danger"></span>
                <div class="invalid-feedback">
                    Informe o número da mesa!
                </div>
            </div>

            <div class="mb-3">
                <label asp-for="QtdLugares" class="form-label">Quantidade de Lugares:</label>
                <input name="QtdLugares" id="QtdLugares" type="number" class="form-control" placeholder="Digite a quantidade de lugares..." required>
                <span asp-validation-for="QtdLugares" class="text-danger"></span>
                <div class="invalid-feedback">
                    Informe a quantidade de lugares!
                </div>
            </div>

            <div class="d-flex justify-content-end">
                <a class="btn btn-secondary px-4 me-1" asp-action="Index">Voltar</a>
                <button class="btn btn-success px-4" type="submit">Salvar</button>
            </div>
        </form>
    </main>

    @* Script de validação com Bootstrap *@
    <script>
        (() => {
            'use strict'

            const forms = document.querySelectorAll('.needs-validation')

            Array.from(forms).forEach(form => {
                form.addEventListener('submit', event => {
                    if (!form.checkValidity()){
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
        })()
    </script>
</body>
</html>